*{
  margin: 0px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0px;
}

.container{
  width: 70%;
  margin: 0px auto;
}

.flex-data{
  display: flex;
  align-items: center;
  align-content: center;
}

.general-section {
  width: 100%;
  padding: 90px 0px;
  position: relative;
  z-index: 9;
}

.line{
  background-color: var(--primary-color);
  width: 180px;
  height: 1px;
  margin: 15px auto;
}

:root{
  --primary-color: #32b3c2;
  --secondary-color: #393f43;
  --dark-color: #000;
  --semi-dark: #2f3539;
  --light-color: #fff;

  --primary-filter: invert(77%) sepia(14%) saturate(2125%) hue-rotate(138deg) brightness(80%) contrast(86%);
  --secondary-filter: invert(26%) sepia(6%) saturate(766%) hue-rotate(161deg) brightness(88%) contrast(94%);
  --light-filter: invert(97%) sepia(97%) saturate(1%) hue-rotate(38deg) brightness(102%) contrast(100%);
  --green-filter: invert(27%) sepia(93%) saturate(1299%) hue-rotate(93deg) brightness(98%) contrast(103%);
  --red-filter: invert(21%) sepia(80%) saturate(7455%) hue-rotate(357deg) brightness(99%) contrast(116%);
}

/*navbar*/

.navbar {
  padding: 15px 0px;
  width: 100%;
  background-color: var(--light-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar .contain {
  justify-content: space-between;
}

/* .navbar .contain .navbar-nav{
  gap: 20px;
} */

.navbar .contain .navbar-nav li a{
  width: 100%;
  height: 50px;
  margin: 7px auto;
  color: var(--dark-color);
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.navbar .contain .navbar-nav li a::before,
.navbar .contain .navbar-nav li a::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  transition: width 0.2s linear;
  border-bottom: 2px solid var(--dark-color);
}

.navbar .contain .navbar-nav li a::after{
  right: 0;
}
.navbar .contain .navbar-nav li a::before{
  left: 0;
}

.navbar .contain .navbar-nav li a:hover:before,
.navbar .contain .navbar-nav li a:hover::after{
  width: 50%;
}

.navbar .contain .navbar-nav .home{
  color: var(--primary-color);
}

/*header*/

header{
  width: 100%;
  padding: 200px 0px 200px;
  background: url('../images/webp/header.webp') center / cover no-repeat;
  position: relative;
  z-index:9;
}

header .contain {
  width: 80%;
  text-align: center;
  margin: 0px auto;
  justify-content: center;
}

header .contain h1{
  text-transform: capitalize;
  color: var(--light-color);
  z-index: 99;
  font-weight: 700;
  font-size: 45px;
}

header .contain p{
  color: var(--light-color);
  margin: 20px;
}

header .contain .email-field{
  background-color: rgba(78, 77, 77, 0.815);
  border-radius: 4px;
}

header .contain input{
  border-radius: 3px;
  font-weight: 700;
  border: none;
  padding-inline-start: 20px;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
}

header .contain input:hover{
  border: 2px solid var(--primary-color);
}

header .contain button{
  margin: 10px 0px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: none;
  color: var(--light-color);
  padding: 10px 15px;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 9;
}

header .contain button:hover{
  color: var(--primary-color);
}

header .contain button::after,
header .contain button::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: var(--light-color);
  left: 0;
  transition: height 0.4s linear;
  z-index: -1;
}

header .contain button::after{
  top: 0;
}

header .contain button::before{
  bottom: 0;
}

header .contain button:hover::before,
header .contain button:hover::after{
  height: 50%;
}

/*news*/

.news{
  background-color: rgb(236, 236, 236);
}

.news .contain{
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0px auto;
}

.news .contain h1{
  color: var(--primary-color);
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
}

.news .contain p{
  width: 70%;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  margin: 10px auto;
}

/*.news .contain .row {
  flex-wrap: wrap;
  gap: 20px;
}*/

.news .contain .row .card:hover{
  transform: translateY(-10px);
  transition: transform 0.3s linear;
}

.news .contain .row .box .box-content{
  padding: 20px;
}

.news .contain .row .box img{
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: cover;
}

.news .contain .row .box h6{
  text-align: left;
  font-size: 14px;
}

.news .contain .row .box p{
  text-align: left;
  width: 100%;
  color: var(--secondary-color);
  opacity: 0.7;
}

.news .contain .row button{
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 4px;
  border: none;
  padding: 10px 15px;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.news .contain .row .box button::before,
.news .contain .row .box button::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: var(--primary-color);
  left: 0;
  transition: height 0.4s linear;
  z-index: -1;
}

.news .contain .row .box button::after{
  top: 0;
}

.news .contain .row .box button::before{
  bottom: 0;
}

.news .contain .row .box button:hover::after,
.news .contain .row .box button:hover::before{
  height: 50%;
}

.news .contain .row .box button:hover{
  color: var(--light-color);
}

.news .contain .row .comment-section{
  position: relative;
}

.news .contain .row .comment-section .comment{
  position: absolute;
  right: 0;
}

.news .contain .row .comment img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  filter: var(--secondary-filter);
}

/*contact*/

.contact{
  background-color: var(--secondary-color);
}

.contact .contain{
  justify-content: center;
  text-align: center;
}

.contact .contain h1{
  text-align: center;
  text-transform: capitalize;
  color: var(--light-color);
  font-size: 36px;
  font-weight: 900;
}

.contact .contain p{
  text-align: center;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 500;
  width: 60%;
  margin: 0px auto;
}

.contact .contain .contact-info form{
  width: 50%;
  margin: 20px auto;
}

.contact .contain .contact-info form input{
  width: 100%;
  height: 25px;
  padding-inline-start: 20px;
  margin: 7px auto;
  border-color: var(--light-color);
  font-weight: 700;
  border-style: solid;
  background-color: transparent;
  outline: none;
}

.contact .contain .contact-info form input:hover{
  border-color: var(--primary-color);
}

.contact .contain .contact-info form #Name::placeholder{
  color: var(--light-color);
}

.contact .contain .contact-info form #Email::placeholder{
  color: var(--light-color);
}

.contact .contain .contact-info form textarea{
  width: 100%;
  height: 100px;
  margin: 7px auto;
  border-color: var(--light-color);
  border-width: 2px;
  background-color: transparent;
  resize: none;
  font-weight: 700;
  padding-top: 20px;
  padding-inline-start: 20px;
  outline: none;
}

.contact .contain .contact-info form textarea:hover{
  border-color: var(--primary-color);
}

.contact .contain .contact-info form #message::placeholder{
  color: var(--light-color);
}

.contact .contain .contact-info form button{
  width: 75%;
  height: 30px;
  margin: 7px auto;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.contact .contain .contact-info form button::before,
.contact .contain .contact-info form button::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: var(--semi-dark);
  left: 0;
  transition: height 0.4s linear;
  z-index: -1;
}

.contact .contain .contact-info form button::after {
  top: 0;
}

.contact .contain .contact-info form button::before {
  bottom: 0;
}

.contact .contain .contact-info form button:hover::before,
.contact .contain .contact-info form button:hover::after{
  height: 50%;
}

/*footer*/

footer{
  padding: 20px 0px;
  width: 100%;
  background-color: var(--semi-dark);
  top: 0;
  left: 0;
  z-index: 999;
}

footer .contain{
  justify-content: center;
  text-align: center;
}

footer .contain p{
  text-transform: capitalize;
  color: var(--light-color);
  font-weight: 500;
  font-size: 10px;
}

footer .contain a{
  color: var(--primary-color);
}